[submodule "motorola/kernel"]
	path = motorola/kernel
	url = https://github.com/MotorolaMobilityLLC/motorola-kernel.git
	shallow = true
[submodule "motorola/external/greybus"]
	path = motorola/external/greybus
	url = https://github.com/MotorolaMobilityLLC/motorola-external-greybus.git
	shallow = true
